body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafb; }

 
h3{
  font-size: 25px;
}

  .fmi-botn{
    color: blue;
    background-color: blue;
    width: 100px;
    margin-left: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
    }
    .btncompany{
        font-size:11px;
        color:white;
        background-color: #29aae1;
    }
    .fa-edit{
      font-size:1.2rem;
      color: #29aae1; 
    }
   
   
    .fa-money-check-alt{
        margin: 3px;font-size: 20px;
        color: #29aae1;
    }
    .lcs_switch.lcs_on {
    background: #29aae1;
    }
    .pagestyle,
    .pagestyle a {
      color: #29aae1;
    }
    .btn-danger{
      color:white !important;
    }
    .card-header{
      height: 50px;
      background-color: #29aae1;
      color: white;
    }
  
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
  
}
span.material-symbols-outlined{
  vertical-align: middle;
}
.list-group-item a{
  color:black !important
}


p {
  color: black;
  font-weight: 300; 
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #000;

}
  a:hover {
    text-decoration: none !important;
  color:#000 !important }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px; } }

.content .contents, .content .bg {
  width: 50%; }
  @media (max-width: 1199.98px) {
    .content .contents, .content .bg {
      width: 100%; } }
  .content .contents .form-group, .content .bg .form-group {
    position: relative; }
    .content .contents .form-group label, .content .bg .form-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .content .contents .form-group input, .content .bg .form-group input {
      background: transparent;
      border-bottom: 1px solid #ccc; }
    .content .contents .form-group.first, .content .bg .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    .content .contents .form-group.last, .content .bg .form-group.last {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .content .contents .form-group label, .content .bg .form-group label {
      font-size: 12px;
      display: block;
      margin-bottom: 0;
      color: #b3b3b3; }
    .content .contents .form-group.focus, .content .bg .form-group.focus {
      background: #fff; }
    .content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
      margin-top: -25px; }
  .content .contents .form-control, .content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0; }
    .content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.content .bg {
  background-size: cover;
  background-position: center; }

.content a {
  color: #888;
  text-decoration: underline; }

.content .btn {
  /* height: 54px; */
  padding-left: 30px;
  padding-right: 30px; }

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block; }
  .social-login a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .social-login a:hover {
    color: #fff; }
  .social-login a.facebook {
    background: #3b5998; }
    .social-login a.facebook:hover {
      background: #344e86; }
  .social-login a.twitter {
    background: #1da1f2; }
    .social-login a.twitter:hover {
      background: #0d95e8; }
  .social-login a.google {
    background: #ea4335; }
    .social-login a.google:hover {
      background: #e82e1e; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #38d39f; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #4dd8a9; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }
  .mfi-right-bg{
    background-image: url("../img/bgimage13.png") !important;
   padding-top:15px;
  }
  .mfibak{
    background-image: url('../img/mfibak.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #fff;
    width: auto; 
    height: auto;
    object-fit: cover;
  }
  .table{
    border:1px solid lightgray;
  }
   .table tbody td{
    
    font-size:12px;
    vertical-align:middle !important;
  }
  
  .table thead th{
    vertical-align:unset !important;
    padding:0px 3px !important;    
    font-size:12px;
    font-weight:50px;
  }
 /* 
     .table-sm td,.table-sm th{
   
      line-height:10px;  
    overflow: hidden;
      height: 14px;
     white-space: nowrap;
   } */   
  tbody td{
    padding:0px 3px !important;
    
    
  }
  .lcs_cursor{
    
    margin-top: -7px !important;
    width: 13px !important;
    height: 13px !important;
    margin-left: auto;
    margin-right:auto;
   
}
  
  .lcs_switch.lcs_checkbox.lcs_on{
    width: 60%;
    height: 60%;
    border-radius: 20px; 
    margin-top:4px;
  }
  .lcs_switch.lcs_checkbox.lcs_off{
    width: 60%;
    height: 60%;
    border-radius: 20px;
    margin-top:4px;
    
  }
  .lcs_switch.lcs_on .lcs_cursor {
    left: 27px !important;
}
.lcs_label.lcs_label_on {
  top:0px !important;
  width:30px !important;
  left:2px !important;
  font-size: 10px !important;

}
.lcs_label.lcs_label_off{
  top:0px !important;
  width:30px !important;
  right:0 !important; 
  font-size: 10px !important;

}
 label{
  margin-top:8px;
}
.btn {
 margin-top: 10px;
}
.btn btn-danger{
  color:white
}
.form-group{
  margin-bottom: 0  !important;
}
  
  
  body{
    min-height:100vh;
  }
  .popover-body {
      padding: none !important;
      color: #212529;
      padding:0px;
  }
  .menuborder{
    border: 1px solid lightgrey;
  }
  .table-sm{
    border:1px solid lightgray;
  }
  .textstyle{
    /* margin-top: 20px; */
    font-size:16px;
    color:#d9dde5;
    margin-bottom: 0px;
    padding:5px 5px;
    /* padding: 5px; */
  }
  .inner{
    display:flex;
    justify-content: space-between;
    padding:5px;
  }
  .inner h3{
    color: white;
    font-size: 20px;
  }
  .small-box{
    padding: 10px;
  }
.small-box h6{
  font-size:10px;
  color:white;
}
  
  .inner span{
    color:white;
    font-size:35px;
    font-size:35px;
    justify-content:center;
  }
  .date-time{
    color: #29aae1;
  }
  .top-nav{
    height:50px;
    background-color: #F5F5F5;
  }
  /* .fas fa-eye{
    margin-left: 5px;
  } */
  .fa-eye{
    margin: 5px;
  }
  ul{
    list-style-type: none;
  }
  .checkbox-label label {
    margin-left: 5px;
    margin-bottom: 0px !important;
    margin-top:0px !important;
}
.checkbox-label{
  margin-left: 5px;
  font-size: 12px;
}
  